$color-dark-primary: #010E17;
$color-dark-secundary: #1D292E;
$color-dark-base: #09212A;
$color-light-primary: rgba(255, 255, 255, 0.9);
$color-light-secundary: rgba(255, 255, 255, 0.5);
$color-dark-yellow: #FFC500;